body {
    background-color: #f00003;
}

#player {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 7px 7px;
}

#weather-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(-25%, -25%)
}

canvas {
    position: absolute;
}

#day-foreground-canvas {
    z-index: 4;
}

#foreground-canvas {
    z-index: 3;
}

#middle-canvas {
    z-index: 2;
}

#background-canvas {
    z-index: 1;
}

@media(max-width:960px) {
    #player {
        width: 60vw;
        height: 33.75vw;
    }
}