body {
    background-color: #f00003;
}

#player-area {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#play-button {
    width: 199px;
    height: 198px;
    background-image: url("../images/play-button.png");
    background-size: cover;
    cursor: pointer;
}

#player-status p {
    text-align: center;
    font-family: 'Arsenal';
    font-size: 72px;
    color: white;
    -webkit-text-stroke: 1.25px black;
    text-shadow: 4px 2px 0px black;
}

#song-name {
    font-style: italic;
}

#weather-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(-25%, -25%)
}

canvas {
    position: absolute;
}

#day-foreground-canvas {
    z-index: 4;
}

#foreground-canvas {
    z-index: 3;
}

#middle-canvas {
    z-index: 2;
}

#background-canvas {
    z-index: 1;
}

@media(max-width:960px) {
    #player {
        width: 60vw;
        height: 33.75vw;
    }
}