body {
    background-color: rgba(240, 0, 4, 1);
    transition: background-color 2s ease-out;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.25);
    pointer-events: none;
    z-index: 0;
    opacity: 0;
    transition: opacity 2s ease-out;
}

body.active::before {
    opacity: 1;
}

.bg-video {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    opacity: 0;
    transition: opacity 2s ease-out;
}

.bg-video.active {
    opacity: 1;
}

#player-area {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#play-button {
    width: 199px;
    height: 198px;
    background-image: url("../images/play-button.png");
    background-size: cover;
    cursor: pointer;
    opacity: 1;
    transition: opacity 2s ease-out;
}

#play-button.active {
    opacity: 0;
}

#player-status {
    position: absolute;
    top: 0;
    right: 0;
}

#player-status p {
    text-align: right;
    font-family: 'Arsenal';
    font-size: 64px;
    color: white;
    -webkit-text-stroke: 1px black;
    text-shadow: 3px 2px 0px black;
    margin: 25px;
}

#song-name {
    font-style: italic;
}

#weather-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(-25%, -25%)
}

canvas {
    position: absolute;
}

#day-foreground-canvas {
    z-index: 4;
}

#foreground-canvas {
    z-index: 3;
}

#middle-canvas {
    z-index: 2;
}

#background-canvas {
    z-index: 1;
}